/* I dont remembet if border-box is supposed to be universal or html... */
* {
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: 'Merriweather', serif; 
    color: #2c3944;
}
h1 {
    background-color: #2c3944;
    color: white;
    margin: auto;
    padding: 25px 0;
    width: 100%;
    font-size: 18px;
}
h1,
header h2,
header p,
button {
    text-align: center;
}
header p {
    margin: 0 10px 15px 10px;
    font-size: 11px;
    line-height: 1.5;
}
h3 {
    font-size: 12px;
    color: gray;
    font-weight: 300;
}
.thick-line {
    border-bottom: #2c3944 solid 4px;
    margin: auto 12px;
}
.thin-line {
    border-bottom: #2c3944 solid 2px;
    margin: 3px 12px;
}
form {
  margin: auto;
  width: 100%;
}
h2,
label,
legend {
    color: #2c3944;
    font-size: 15px;
}
legend {
    font-weight: 700;
}
label {
    display: block;
    margin: 3px auto;
    font-size: 12px;
    padding: 11px 0 3px 0;
}
p {
    color: silver;
}
.contact-info {
    border-bottom: #2c3944 solid 2px;
    margin: 10px 10px;
    padding: 12px 5px 20px 5px;
    /* background-color: pink; */
}
.contact-info label {
    color: gray;
}
.contact-info input,
.contact-info select,
textarea {
     width: 100%;
     height: 45px;
     border-radius: 4px;
     border: none;
     background-color:rgb(235, 235, 235);
}
.contact-info legend {
    background: inherit;
    width: 100%;
    display: block;
    padding-top: 12px;
}
.contact-info input,
.contact-info select {
    border: none;
    background-color: rgb(235, 235, 235);
}
#zip-code {
    width: 50%;
}
fieldset {
    border: none;
    margin: auto;
}
#news-legend {
    padding-top: 50px;
    display: table;
}
.newsletter {
    background-color: lightblue;
}
.newsletter label {
    color: gray;
    padding: 0;
    display: inline;
}
.newsletter input {
    margin: 5px 8px 15px 0;
}
.newsletter-div {
    width: 98%;
    margin: auto;
}
textarea,
select {
    font-size: 12px;
}


/* .form-input-box,
select,
button,
#zip-code {
    border-radius: 4px;
    height: 45px;
} */
textarea {
    border: none;
    background-color: rgb(235, 235, 235);
    margin: 8px 0 8px 0;
    padding: 40px 0;
}
#state {
    color: #b5b5b5;
}
button {
    background-color: #4EBBB5;
    border: none;
    color: white;
    font-family: 'Merriweather', serif; 
    padding: 15px 0;
    margin: auto;
    border-radius: 4px;
    font-weight: 900;
    font-size: 14px;
    display: block;
    width: 100%
    
}
input:focus,
select:focus,
textarea:focus {
    border: solid rgb(12, 47, 77) 3px;
}



/* this is still affecting the input box itself not just the placeholder text...*/
[placeholder="Required"] {
    text-align: right;
    padding-right: 30px;
    font-style: italic;
    font-size: 10px;
    color: #b5b5b5;
}
/* hr {
    height: 6px; effects the line's thickness
    width: 80%;
    margin: 0 auto;
 } */
 footer {
     text-align: center;
     font-size: 12px;
     margin-top: 25px;
 }


/* Flex stuffs =============================================================== */

.contact-info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.form-div {
   width: 98%;
   margin: auto;
}



/* --------------Media Query------------------- */

@media (min-width: 760px) {
    body {
        margin: 0;
    }
    main {
        max-width: 900px;
        margin: auto;
    }
    form {
        margin-top: 30px;
    }
    h2 {
        font-size: 1.15em;
    }
    .header-text,
    .form-div label {
        font-size: 0.8em;
    }
    .thick-line,
    .thin-line {
        max-width: 900px;
        align-self: center;
    }
    .contact-info legend {
        padding-bottom: 10px;
    }
    legend {
        font-size: 1.0em;
    }
    .form-div {
        display: flex;
        flex-direction: row;
        padding-bottom: 15px;
    }
    .form-div label {
        width: 16%;
        margin: 0;
        color: #2c3944;
    }
    .form-div input,
    .form-div select {
        width: 84%;
    }
    #zip-code {
        width: 21%;
    }
    .newsletter {
        background: inherit;
        margin-top: 30px;
    }
    .newsletter legend {
        padding-left: 10px;
    }
    button {
        width: 98%;
    }
}